<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/create_account_form.css">
    <link rel="stylesheet" href="/css/header_nav_footer.css">

    <script src="/js/create_account_form.js"></script>

</head>
<body>
    
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <section>
		<div id="section_wrap">
			<div class="word">
				CREATE ACCOUNT FAIL!!
			</div>
			
            <div class="go_login_form">
				<a href="/member/member_login_form">login</a>
			</div>
		</div>
	</section>

    <%- include('../include/footer.ejs') %>

</body>
</html>