<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/create_account_form.css">
    <link rel="stylesheet" href="/css/header_nav_footer.css">

    <script src="/js/member_login_form.js"></script>

</head>
<body>
    
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <section>
		<div id="section_wrap">
			<div class="word">
				MEMBER LOGIN FORM
			</div>
			<div class="create_account_form">
				<form 	action="/member/member_login_confirm" 
						name="member_login_form" 
						method="post">
					<input type="text" name="m_id" placeholder="INPUT ID"><br>
					<input type="password" name="m_pw" placeholder="INPUT PW"><br>
					<input type="button" value="member login" onclick="memberLoginForm();">
					<input type="reset" value="reset">
				</form>
			</div>

            <div class="go_create_account_form">
				<a href="/member/create_account_form">create account</a>
			</div>

		</div>
	</section>

    <%- include('../include/footer.ejs') %>

</body>
</html>